@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.while-submitting { display: none; }
.phx-submit-loading .while-submitting { display: block; }
.phx-submit-loading .inner-text { display: none; }
.inner-text { display: block; }

@keyframes highlight-fade {
  from {
    background-color: #fff59e; /* light yellow */
  }
  to {
    background-color: #fff; /* white */
  }
}

.highlight-fade {
  animation: highlight-fade 1.5s ease-out;
}
