@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.while-submitting { display: none; }
.phx-submit-loading .while-submitting { display: block; }
.phx-submit-loading .inner-text { display: none; }
.inner-text { display: block; }